asgiref==3.11.1
Django==6.0.5
gunicorn==26.0.0
joblib==1.5.3
narwhals==2.22.1
numpy==2.4.6
packaging==26.2
pillow==12.2.0
scikit-learn==1.9.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
whitenoise==6.12.0
