{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="change-password-container">

    <div class="card change-password-card">

        <h3>Change Password</h3>
        {% if messages %}

            {% for message in messages %}
            
                <div class="alert alert-{{ message.tags }}">
                
                    {{ message }}
                
                </div>
            
            {% endfor %}
            
        {% endif %}
        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success">
                Update Password
            </button>

        </form>

    </div>

</div>

{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/change.css' %}">

{% endblock %}