<!-- ================= WRAPPER ================= -->
<div id="page-content-wrapper">

    <!-- ================= SIDEBAR ================= -->
    <aside id="sidebar-wrapper">

        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge"></i> Dashboard</a>
        <a href="{% url 'tasks' %}"><i class="fa-solid fa-list-check"></i> Tasks</a>
        <a href="{% url 'focus_timer' %}"><i class="fa-solid fa-stopwatch"></i> Focus Timer</a>
        <a href="{% url 'stats' %}"><i class="fa-solid fa-chart-line"></i> Stats</a>
        <a href="{% url 'settings' %}"><i class="fa-solid fa-gear"></i> Settings</a>

    </aside>
</div>

