{% extends 'main.html' %}
{% load static %}
{% block sidebar %}
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2>Forgot Password</h2>

    <p>Enter your username and email.</p>

    {% if error %}
        <div class="alert alert-danger mb-3">{{ error }}</div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <input
            type="text"
            name="username"
            placeholder="Username"
            class="form-control mb-3"
            required
        >

        <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control mb-3"
            required
        >

        <button
            type="submit"
            class="btn btn-primary"
        >
            Verify
        </button>

    </form>

</div>

{% endblock %}