{% extends 'main.html' %}
{% load static %}

{% block content %}
<center>
<div class="form-container">

    <h2>Reset Password</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="password" name="password" placeholder="New Password">

        <button type="submit">Reset Password</button>
    </form>

</div>
</center>
{% endblock %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% endblock %}